<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New heat</h1>

  <%= render "form", heat: @heat %>

  <%= link_to 'Back to heats', heats_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
