# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "smooth"
primary_region = "iad"
console_command = "/rails/bin/rails console"

[[mounts]]
  source = "smooth_volume"
  destination = "/data"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"

