ZZZZs

<div class="w-screen">
  asdf
  <%= @people.inspect %>
  <% @people.each do |person| %>
    <% next if @heatlist[person].empty? %>
    <%= render "people/heats", person: person %>
  <% end %>
</div>

<% if @studio %>
  <%= render "people/heats", person: nil %>
<% elsif @people.length != 1
  Studio.order(:name).each do |studio|
    next if studio.name == 'Event Staff'
    @studio = studio %>
    <%= render "people/heats", person: nil %>
  <% end %>
<% end %>