<style>
  @page {
    margin-top: 0.5in;
  }
</style>

<div class="w-screen">
  <% @people.each do |person| %>
    <% next if @heatlist[person].empty? %>
    <%= render "people/heats", person: person %>
  <% end %>
</div>

<% if @people.all? {|person| @heatlist[person].empty?} %>
<p>No heats are scheduled yet for this event.</p>
<% end %>

<% if @event.print_studio_heats %>
<% if @studio %>
  <%= render "people/heats", person: nil %>
<% elsif @people.length != 1
  Studio.order(:name).each do |studio|
    next if studio.name == 'Event Staff'
    @studio = studio %>
    <%= render "people/heats", person: nil %>
  <% end %>
<% end %>
<% end %>