<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <li>Drag and drop within a category to control the order of heats.
  <li>Once complete, Redo the heats on the heats page to apply the new order.
  </ul>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="mx-auto font-bold text-4xl">Solos</h1>
  </div>

  <div class="min-w-full">
  <table class="mt-4 table-auto mx-auto">
  <thead>
    <th width="5">
    <th class="row-head">Dance
    <th class="row-head">Lead
    <th class="row-head">Follow
    <th class="row-head">Level
    <th class="row-head">Category
    <th class="row-head">Studio
  </thead>
  <% @solos.each do |cat, heats| %>
    <tr>
      <td class="text-2xl pt-4" colspan="7"><%= cat.name %>
    </tr>
    <%= render partial: 'cat', locals: {heats: heats, id: dom_id(cat) } %>
  <% end %>
  </table>
</div>

</div>
