<div class="mx-auto md:w-2/3 w-full">
  <div data-controller="info-box">
    <div class="info-button">&#x24D8;</div>
    <ul class="info-box">
      <li>Solos have two people on the floor.  If you want to add additional people, create a 
        <%= link_to "Formation", new_formation_path(primary: @person&.id), class: 'btn-blue px-2 py-1 m-0' %> instead.
      <li>Solos can have two dances listed.  If they are in different categories (e.g. smooth, rhythm), the first is used for placement in the agenda.
      <li>Song, Artist, and Song file are provided to the DJ.
    </ul>
  </div>

  <% if @person %>
  <h1 class="text-center font-bold text-4xl"><%= @person.display_name %></h1>
  <% else %>
  <h1 class="text-center font-bold text-4xl">New Solo</h1>
  <% end %>

  <%= render "form", solo: @solo, return_to: nil %>
</div>