<% content_for :title, "Recordings" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Recordings</h1>
    <%= link_to "New recording", new_recording_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="recordings" class="min-w-full">
    <% if @recordings.any? %>
      <% @recordings.each do |recording| %>
        <%= render recording %>
        <p>
          <%= link_to "Show this recording", recording, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No recordings found.</p>
    <% end %>
  </div>
</div>
