<div class="mx-auto md:w-2/3 w-full" data-controller="anchored">

<% if notice.present? %>
<p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
  <% if @sources and not @sources.empty? %>
  <li>Feel free to skip over the "copy from another event" section if this is your first event.  This section of the settings will disappear once you have added a studio.</li>
  <% end %>
  <li>Use the tabs across the top of this page to get to other settings.
  </ul>
</div>

<% if @sources and not @sources.empty? %>

<%= render partial: 'clone' %>

<% end %>