  <div data-controller="info-box">
    <div class="info-button top-2">&#x24D8;</div>
    <ul class="info-box">
      <li><%= raw @scoring_instructions %></li>
      <% unless @heat.category == 'Solo' || @style == 'emcee' %>
        <% if @style != 'radio' %>
          <li>Dragging an entry back to the unlabelled box at the right returns the participant to the unscored state.</li>
        <% end %>
      <% end %>
      <li><%= raw @navigation_instructions %></li>
      <li>Clicking on the heat information at the top center of the page will return you to the heat list where you can quickly scroll and select a different heat.</li>
    </ul>
  </div>