<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Multi-dance</h1>

  <%= render "form", dance: @dance %>

  <% if @dance.id %>
  <%= link_to "Remove this multi", 
    multi_path(@dance), class: 'btn-grey',
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to "Back to dances", dances_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>