<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New multi-heat category</h1>


<div data-controller="info-box">
<div class="info-button">&#x24D8;</div>
<ul class="info-box">
<li>Multi-heat <em>categories</em> are what shows up in the agenda, and typically have names
like "All Arounds" or "Three Heats" or "Triple Threats" or "Scholorships".
<li>Multi-heat categories are made up of multiple mult-heat <em>events</em>, for example there
may be events for "Triple Smooth", "Triple Rhythm", etc.
</ul>
</div>

  <%= render "catForm", category: @category %>

  <%= link_to 'Back to categories', categories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>