<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New multi-heat event</h1>

  <%= render "eventForm", category: @category, dance: @dance %>

  <%= link_to 'Back to category', edit_multi_category_path(@category),
    class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>