<% if ENV['RAILS_APP_DB'] == "demo" -%>

<span class="absolute text-5xl -rotate-45 text-purple-600 border-2 p-2 border-purple-600 rounded-xl">Demo</span>

<% elsif Rails.env.development? %>

<a href="<%= select_path %>" class="absolute right-36 text-5xl rotate-45 text-purple-600 border-2 p-2 border-purple-600 rounded-xl">Dev</a>

<% elsif ENV['RAILS_PROXY_HOST'].present? && !Rails.env.test? -%>
<% canonical_host = URI.parse(Showcase.canonical_url).host %>
<% unless ENV['RAILS_PROXY_HOST'] == canonical_host %>

<a href="/showcase/docs/ops/Hosting" class="absolute right-36 text-5xl rotate-45 text-purple-600 border-2 p-2 border-purple-600 rounded-xl">
<%= ENV['RAILS_PROXY_HOST'].split('.').first.capitalize %>
</a>

<% end %>
<% end -%>