<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing dance</h1>

  <%= render "form", dance: @dance %>

  <div class="mx-auto flex">
    <button type="submit" class="btn-blue" form="dance-form">Update Dance</button>
    <%= link_to "Songs", dance_songlist_path(@dance), class: "btn-green" %>
    <%= up_link 'Remove this dance', dance_path(@dance), class: 'btn-grey',
      method: :delete, disabled: @locked, form: { data: { turbo_confirm: 'Are you sure?' }} %>  
    <%= link_to "Back to dances", dances_path, class: "btn-grey" %>
  </div>
</div>
