<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New dance</h1>

  <%= render "form", dance: @dance %>

  <div class="mx-auto flex">
    <button type="submit" class="btn-blue" form="dance-form">Create Dance</button>
    <%= link_to "Back to dances", dances_path, class: "btn-grey" %>
  </div>
</div>
