<div class="mx-auto md:w-2/3 w-full">

<p class="text-red-600 text-xl"><strong>Warning</strong>: cloning data from another database will
overwrite data you may have already entered in this database.</p>

<%= render partial: 'clone' %>

</div>