<div>

<table>
<tbody>
  <% request.env.sort.each do |key, value| %>
  <% value = '*REDACTED*' if key == 'HTTP_AUTHORIZATION' %>
    <tr>
      <td><%= key %>
      <td><%= value %>
    </tr>
  <% end %>
</tbody>
</table>

</div>
