<div>

<h1 class="mt-16 font-bold text-4xl mb-6">request.env</h1>
<table>
<tbody>
  <% request.env.sort.each do |key, value| %>
  <% value = '*REDACTED*' if key == 'HTTP_AUTHORIZATION' %>
    <tr>
      <td><%= key %>
      <td><%= value %>
    </tr>
  <% end %>
</tbody>
</table>

<h1 class="mt-16 font-bold text-4xl mb-6">ENV</h1>
<table>
<tbody>
  <% ENV.sort.each do |key, value| %>
  <% value = '*REDACTED*' if key == 'RAILS_MASTER_KEY' %>
    <tr>
      <td><%= key %>
      <td><%= value %>
    </tr>
  <% end %>
</tbody>
</table>

</div>
