<div class="mx-auto">
  <h1 class="font-bold text-center text-4xl mb-8">Instructions</h1>

  <p>
   This application is largely automation of existing processes,
   so detailed instructions are unlikely to be required.  Feel free
   to peruse this, and check back if/when you have questions.
  </p>

  <ul class="mt-2 list-disc list-inside">
    <li><span class="bold text-xl">Overview</span>
      <ul class="ml-8 list-disc list-outside">
        <li>There is an logo on the top right of every page.  If you
            click on it, you will return to the home page.
        <li>Buttons mostly are on the bottom of the page, with the
            exception of the heat redo button that is on the top right
            mostly due to the size of that page.
        <li>Blue buttons tend to navigate between pages.  Green buttons
            tend to take actions.  Grey buttons are less frequent actions.
            There is one yellow button that takes you here.
      </ul>
    </li>

    <li class="mt-4"><span class="bold text-xl">Settings</span>
      <ul class="ml-8 list-disc list-outside">
        <li>You can use this to set the name of the event, the location,
            and the date..
        <li>You can add Judges, Emcee(s), Organizers and Guests here.
        <li>Controls are provided to adjust the number of heats.  You
            will unlikely need to do this.
      </ul>
    </li>

    <li class="mt-4"><span class="bold text-xl">Studio</span>
      <ul class="ml-8 list-disc list-outside">
        <li>Add studios here.
        <li>Studios can have one or more "pairs", which are sister studios.
            When scheduling heats for students, this increases the number
            of profressionals that they can draw from.  
        <li>Navigate to a studio in order to add a professional, student, or a
            guest.
      </ul>
    </li>

    <li class="mt-4"><span class="bold text-xl">People</span>
      <ul class="ml-8 list-disc list-outside">
        <li>Navigate to a studio in order to add a professional, student, or a
            guest.  Event staff are added from the settings page.
        <li>While there are multiple ways to arrive at a page for a
            participant, event staff are listed on the front page and
            everybody else can be gotten to by navigating to the studio
            that they are associated with.
        <li>Students will show entries, dances, and heats.  The first two
            lists are summaries of the heats.
        <li>Adding new heats is done by a button at the bottom.  If a student
            is dancing with multiple partners, or is eligable to be enrolled
            in heats at different levels or age categories, add each
            combination separately.
        <li>Editing a entry is done by hovering over the entry line and
            clicking on the edit button that appears.
      </ul> 
    </li>
  </ul>
</div>
