<div class="mx-auto md:w-2/3 lg:w-1/2">

<img class="relative" src="smooth-fly-dev-cover.webp"
  title="Michael Jackson's anti-gravity move from Smooth Criminal"
  alt="Michael Jackson's anti-gravity move from Smooth Criminal">

<h2 class="mt-8 text-center font-bold text-4xl mb-8">Welcome to Smooth Fly Dev</h2>

<p>Heat scheduler for dance showcase events.  Proceed to the site and select your event.</p>

<table class="table-fixed mt-4">
<tbody>
<tr>
<td><div class="mr-4"><a class="btn-blue w-full" href="https://rubix.intertwingly.net/showcase/">primary</a>
<td>This is the site you normally want.</dd>

<tr>
<td><div class="mr-4"><a class="btn-purple w-full" href="https://hetzner.intertwingly.net/showcase/">backup</a>
<td>Only use this if the primary is down.</dd>

<tr>
<td><div class="mr-4"><a class="btn-orange w-full" href="https://smooth.fly.dev/experimental">experimental</a>
<td>This is not yet fully functional.</dd>
</tbody>
</table>

<p class="mt-4 text-right">
  See:
  <%= link_to 'docs', docs_path %>,
  <a href="https://github.com/rubys/showcase#readme">code</a>,
  <a href="https://github.com/rubys/showcase/issues">issues</a>.
</p>
</div>