    <form method="post" enctype="multipart/form-data" action=<%= upload_url %>>
    <%= file_field :user, :file, 
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

    <%= button_tag 'Upload', name: 'anchor', value: 'description', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </form>
