---
server:
  listen: 9999
  hostname: rubix.intertwingly.net
  root_path: "/showcase"
  static:
    public_dir: "/Users/rubys/git/showcase/public"
    allowed_extensions:
    - html
    - htm
    - txt
    - xml
    - json
    - css
    - js
    - map
    - png
    - jpg
    - gif
    - svg
    - ico
    - pdf
    - xlsx
    try_files:
    - index.html
    - ".html"
    - ".htm"
    normalize_trailing_slashes: true
    cache_control:
      overrides:
      - path: "/showcase/assets/"
        max_age: 24h
      - path: "/showcase/"
        max_age: 24h
  health_check:
    path: "/up"
    response:
      status: 200
      body: OK
      headers:
        Content-Type: text/plain
  trust_proxy: true
  cgi_scripts:
  - path: "/showcase/update_config"
    script: "/Users/rubys/git/showcase/script/update_configuration.rb"
    method: POST
    user: root
    group: root
    timeout: 5m
    reload_config: config/navigator.yml
    env:
      RAILS_DB_VOLUME: "/Users/rubys/git/showcase/db"
      RAILS_ENV: production
managed_processes: []
routes:
  redirects:
  - from: "^/(showcase)?$"
    to: "/showcase/studios/"
  rewrites:
  - from: "^/assets/(.*)"
    to: "/showcase/assets/$1"
  - from: "^/([^/]+\\.(gif|png|jpg|jpeg|ico|pdf|svg|webp|txt))$"
    to: "/showcase/$1"
  reverse_proxies: []
  fly:
    replay: []
maintenance:
  enabled: true
  page: "/503.html"
hooks:
  server:
    ready:
    - command: ruby
      args:
      - script/nav_initialization.rb
      timeout: 5m
      reload_config: config/navigator.yml
    - command: bin/rails
      args:
      - assets:precompile
      env:
        RAILS_ENV: production
        RAILS_RELATIVE_URL_ROOT: "/showcase"
        PATH: "/opt/homebrew/lib/ruby/gems/3.4.0/bin:/opt/homebrew/lib/ruby/gems/3.1.0/bin:/opt/homebrew/opt/ruby/bin:/opt/homebrew/opt/openjdk@11/bin:/Users/rubys/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/mysql/bin:/Users/rubys/.rvm/bin"
      timeout: 2m
logging:
  format: text
