<div id="<%= dom_id table %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= table.number %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Row:</strong>
    <%= table.row %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Column:</strong>
    <%= table.col %>
  </p>
</div>
