<div id="<%= dom_id feedback %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= feedback.order %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= feedback.value %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Abbr:</strong>
    <%= feedback.abbr %>
  </p>
</div>
