<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
    <li>Formations are three or more dancers on the floor with either one amateur or an amateur
    couple and any number of professional instructors.
    <li>To remove an instructor, select the <code>--delete--</code> option for that instructor.
  </ul>
</div>