<div data-controller="info-box">
  <div class="info-button">&#x24D8;</div>
  <ul class="info-box">
    <li>Formations are solos with additional dancers on the floor.
    <li>All of the requirements of a solo must be met with the first two/three names:
    <ul class="ml-4 list-disc list-outside">
    <li>The first two names are important as they will determine how the event is invoiced, and need to include a leader and a follower.
    <li>If both of the first two names are students, the third name must be an instructor.  This instructor can either be on the dance
    floor with the couple or solely receive credit.  This is controlled via the radio buttons at the bottom of this form.
    <li>Once these needs are met, any number of additional students and instructors can be added.
    </ul>
    <li>To remove an additional member of the formation, select the <code>--delete--</code> option for that person
</div>