<div class="mx-auto md:w-2/3 w-full">
  <% if @person %>
  <h1 class="text-center font-bold text-4xl"><%= @person.display_name %></h1>
  <% else %>
  <h1 class="text-center font-bold text-4xl">Edit Formation</h1>
  <% end %>

  <%= render "solos/form", solo: @solo %>
</div>