/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.head-N, .base-N, .head-AB {background-color: #90ee90}
.base-AB, .head-FB, .base-FB, .head-AS {background-color: #e7cfae}
.base-AS, .head-FS, .base-FS, .head-AG {background-color: #dcdcdc}
.base-AG, .head-FG, .base-FG {background-color: #ffd700}

#notice:empty {display: none}

// https://gist.github.com/anotheruiguy/7379570
@font-face {
  font-family: 'Algerian Regular';
  src: font-url('Algerian Regular.ttf') format('truetype');
}
  
@font-face {
  font-family: 'Berlin Sans FB Demi Bold';
  src: font-url('Berlin Sans FB Demi Bold.ttf') format('truetype');
}
