<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing studio</h1>

  <%= render "form", studio: @studio %>

  <%= link_to 'Remove this studio', studio_path(@studio), class: "btn-grey",
    data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

  <%= link_to "Back to studios", studios_path, class: "btn-green" %>

  <% if @pairs %>
  <h2 class="mt-8 font-bold text-2xl">Associated studios</h1>
  <ul>
  <% @pairs.sort_by {|studio| studio.name}.each do |pair| %>
  <li><%= pair.name %></li>
  <% end %>
  </ul>
  <% end %>

</div>
